<div class="container">	
    <h3 class="text-center">Rental List</h3>
    <hr>

	<h3 class="text-center">Rentals Available</h3>
	<table class="table">
	    <thead>
	      <tr>
	        <th>Name</th> 			
	        <th>Description</th>
	        <th>Actions</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="alquiler in alquileres">
	      <tr>
	        <td>{{alquiler.name}}</td>
	        <td>{{alquiler.description}}</td>
	        <td>
	        	<button class="btn btn-info btn-sm" ng-class="" ng-click="saveRent($index)">Rent</button>
	        </td>
	       	<td>
	        	<a class="btn btn-info btn-sm" href="app#/view5/{{alquiler.idAlquiler}}">View more</a>
	        </td>
	        </tr>
	    </tbody>
  	</table>
</div>

<div class="container">	
	<h3 class="text-center">My Rentals</h3>
	<table class="table">
	    <thead>
	      <tr>
	        <th>Name</th>
	        <th>Description</th>
	        <th>Actions</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="alquilado in alquilados">
	      <tr>
	        <td>{{alquilado.name}}</td>
	        <td>{{alquilado.description}}</td>
	       	<td>
	        	<a class="btn btn-info btn-sm" href="app#/view5/{{alquiler.idAlquiler}}">View more</a>
	        </td>
	        </tr>
	    </tbody>
  	</table>
</div>