<div class="container">	
    <h3 class="text-center">Rental List</h3>
    <hr>

	<h3 class="text-center">Available Rentals</h3>
	<table class="table">
	    <thead>
	      <tr>
	        <th class="col-sm-3">Name</th>
	        <th class="col-sm-6">Description</th>
	        <th class="col-sm-2">Actions</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="alquiler in alquileres">
	      <tr>
	        <td>{{alquiler.name}}</td>
	        <td>{{alquiler.description}}</td>
	        <td>
	        	<button class="btn btn-info btn-sm" ng-class="" ng-click="saveRent($index)">Rent</button>
	        </td>
	        </tr>
	    </tbody>
  	</table>
</div>

<div class="container">	
	<h3 class="text-center">My Rentals</h3>
	<table class="table">
	    <thead>
	      <tr>
	        <th class="col-sm-3">Name</th>
	        <th class="col-sm-6">Description</th>
	        <th class="col-sm-2">Actions</th>
	      </tr>
	    </thead>
	    <tbody ng-repeat="alquilado in alquilados">
	      <tr>
	        <td>{{alquilado.name}}</td>
	        <td>{{alquilado.description}}</td>
	       	<td>

	        	<button class="btn btn-danger btn-sm" ng-click="returnRent(alquilado.idAlquiler)">Return</button>
	        </td>
	        </tr>
	    </tbody>
  	</table>
</div>