<br>
<br>
<div class="container">
	<div class="row">
		<h3 class="">
			Rentals
			<button type="button" class="btn btn-success pull-right col-md-2"
				ng-click="openCreateModal()">Create</button>
		</h3>
		<hr>

		<div>
			<div class="container">

				<table class="table">
					<thead>
						<tr>
							<th class="hidden">ID</th>
							<th>Name</th>
							<th>Description</th>
							<th>Type</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody ng-repeat="alquiler in alquileres">
						<tr>
							<td class="hidden">{{alquiler.idAlquiler}}</td>
							<td>{{alquiler.name}}</td>
							<td>{{alquiler.description}}</td>
							<td>{{alquiler.tipoAlquiler.name}}</td>
							<td class="">
								<button class="btn btn-info btn-sm col-md-3" ng-class=""
									ng-click="loadData(alquiler)">Edit</button>
								<button class="btn btn-danger btn-sm col-md-3"
									ng-click="deleteRent(alquiler)">Delete</button>
							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

<!-- Modal -->
<div id="editCreaterent" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Create Rent</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label>Name</label> <input type="text" id="alquilerName"
							class="form-control" ng-model="name" required />
					</div>

					<div class="form-group">
						<label>Description</label> <input type="text"
							id="alquilerDescription" required class="form-control"
							ng-model="description" />
					</div>

					<div class="form-group">
						<label>Rental type</label> <select name="tipoalquiler"
							id="tipoalquiler" class="form-control"
							ng-model="requestObject.idTipoAlquiler"
							ng-options="ta.idTipoAlquiler as ta.name for ta in tipoAlquilerList"
							required>
						</select>
					</div>
					<div class='form-group'>
						<label>Cover Image</label> <img
							ng-src="{{rentFile || DEFAULT_IMAGE}}" width="150px"
							height="150px" />
						<div class="col-sm-8">
							<input type="file" name="inputfile"
								ng-file-select="onFileSelect($files)"> <span
								ng-show="onError && createRentForm.inputfile.$error.required"
								class="help-inline">Required </span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
			<button id="createButton" class="btn btn-primary"
						ng-click="saveRent($event)">Create</button>

					<button id="updateButton" class="btn btn-primary hidden"
						ng-click="saveRent($event)">Update</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>



