<div class="container">
	<div class="row">
		<h3 class="text-center">Users type</h3>
    	<hr>
	
		<div>
			<div class="container">

				<table class="table">
					<thead>
						<tr>
							<th class="hidden">ID</th>
							<th>Type</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody ng-repeat="tipoUsuario in tipoUsuarios">
						<tr>
							<td class="hidden">{{tipoUsuario.idTipoUsuario}}</td>
							<td>{{tipoUsuario.tipo}}</td>
							<td>
								<button class="btn btn-info btn-sm" ng-class=""
									ng-click="loadData(tipoUsuario)">Edit</button>
								<button class="btn btn-danger btn-sm"
									ng-click="deleteTypeUser(tipoUsuario)">Delete</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>

<div class="container">
	<div class="col-sm-8">
		<form>
			<div class='form-group'>
				<label>Type</label>
				<input type="text" id="tipoUsuario" class="form-control" ng-model="tipoUsuario.tipo" /> <span
						ng-show="onError && createRentForm.name.$error.required"
						class="help-inline">Required </span>
			</div>
		
			<button id="createButton" class="btn btn-primary"
				ng-click="saveTypeUser($event)">Create</button>
			<button id="updateButton" class="btn btn-primary hidden"
				ng-click="updateTypeUser(tipoUsuario)">Update</button>
		</form>
	</div>
</div>
